.sidebar {
  width: 280px;
  background: white;
  border-right: 1px solid #eee;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #4d007d;
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.logo-icon {
  font-size: 45px;
}
.logo-text {
  font-size: 20px;
}
.sidebar-search {
  padding: 0 20px;
  margin-bottom: 20px;
}

.sidebar-search input {
  width: 208px;
  height: 22px;

  gap: 4px;

  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.sidebar-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 13px;
  color: gray;
  padding: 0 20px;
  margin-bottom: 8px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  position: relative;
  transition: background 0.2s ease, color 0.2s ease;
}

/* ACTIVE STATE */
.sidebar-item.active {
  color: #4d007d;
  font-weight: 600;
}

.sidebar-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  bottom: 4px;
  width: 4px;
  background-color: #4d007d;
  border-radius: 8px;
}

.sidebar-item:hover {
  background: rgba(106, 27, 154, 0.05);
}

/* Icon styling */
.sidebar-item .icon {
  font-size: 16px;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* Icon scale when active */
.sidebar-item.active .icon {
  transform: scale(1.2);
  color: #4d007d;
}

.activeClass {
  display: inline-block;
  width: 16px;
  height: 40px;
  background-color: #4d007d;
  border-radius: 10px 22px 13px 39px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) skewY(-10deg);
}
